/*header och footer*/
body{
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: repeat(8,1fr);
    display: grid;
    margin: 0px;
    padding: 0px;
}

header.layout{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-image: url(../img/grassblock.png);
}

main i.material-icons{
    font-size: 3em;
    padding-top: 16px;
}


.menu i.material-icons{    
    font-size: 3em;
}

.menu{
    width: 40vw;
    height: 50vh;
    position: absolute;
    background:blue;
    display: none;
    z-index: 5;
}

.show{
    display: block;
}


h1{
    font-size: 30px;
    grid-row: 1 / 2;
    grid-column: 3 / 7;
    padding: 0px;
    margin: auto;
    text-align: center;
    font-family: Anton;
}

.container{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
/*.fade{
    background-color: rgb(100,100,100)
}*/


article{
    grid-row: 2 / 8;
    grid-column: 1 / 4;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: 1fr 2fr 1fr ;
    display: grid;
}

footer{
    grid-column: span 4;
    grid-row: 8 / 9;
    z-index: 4;
    background-image: url(../img/dirtblock.png)
}
/*Hemsida*/

header.home{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: Anton;
    font-size: 25px;
    padding: 0px;
    text-align: center;
    margin: auto;
}
a.store{
    grid-column: 2 / 3;
    grid-row: 3 / 4;    
    margin: auto;
    display: block;
    border: 10px, solid,rgb(0,0,0);
}

.block{
    grid-column: 2 / 3;
    grid-row: 6 / 7;    
    margin: auto;
}

.box1{
    background-color: green;
    width: 180px;
    height: 56px;
    font-size: 30px;
    border: 2px, black,solid;
    border-radius: 15px;
    box-shadow: 3px 3px #999;
    cursor: pointer;
    outline: none;
}

.box1:focus{
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.box2{
    background-color: green;
    width: 180px;
    height: 56px;
    font-size: 20px;
    border: 2px, black,solid;
    border-radius: 15px;
    box-shadow: 3px 3px #999;
    cursor: pointer;
    outline: none;
}

.box2:focus{
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Butik*/
div.store{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8,1fr);
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 11;
    z-index: 2;
    overflow: auto;
}  

header.store{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: Anton;
    font-size: 25px;
    padding: 0px;
    text-align: center;
    margin: auto;
    
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url(../img/background_mobile.png);
    width: 360px;
    height: 480px;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.block1, .block2, .block3, .block4{
    background-image: url('../img/css_sprites.png');
    background-repeat: no-repeat;
    margin: auto;
}

.block1{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 100px; height: 90px;
    background: url('../img/css_sprites.png') -10px -10px;

}
    
.block2{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 100px; height: 90px;
    background: url('../img/css_sprites.png') -130px -10px;

}

.block3{
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    width: 100px; height: 90px;
    background: url('../img/css_sprites.png') -10px -120px;

}

.block4{
    grid-column: 2 / 3;
    grid-row: 5 / 7;
    width: 100px; height: 90px;
    background: url('../img/css_sprites.png') -130px -120px;

}

.grass{
    grid-column: 1 / 2;
    grid-row: 4 / 5; 
    margin: auto;
    margin-bottom: 20px;
}

.cobble{
    grid-column: 2 / 3;
    grid-row: 4 / 5; 
    margin: auto;
    margin-bottom: 20px;
}

.brick{
    grid-column: 1 / 2;
    grid-row: 7 / 8; 
    margin: auto;
    margin-bottom: 20px;
}

.log{
    grid-column: 2 / 3;
    grid-row: 7 / 8; 
    margin: auto;
    margin-bottom: 20px;
}

.button{
    background-color: green;
    width: 80px;
    height: 40px;
    font-size: 20px;
    border: 2px, black,solid;
    border-radius: 5px;
    box-shadow: 1px 1px #999;
    cursor: pointer;
    outline: none;
}

/*Köpsidor*/

div.picturegrass{
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    background-image: url(../img/grassbuy.png);
    background-position: center;
}

div.picturecobble{
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    background-image: url(../img/cobblebuy.png);
    background-position: center;
}

div.picturebrick{
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    background-image: url(../img/brickbuy.png);
    background-position: center;
}

div.picturelog{
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    background-image: url(../img/logbuy.png);
    background-position: center;
}
div.buyblock{
    grid-column: 1 / 4;
    grid-row: 6 / 11;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}

p{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

button.buy{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 8em;
    height: 3em;
    margin: auto;
    background-color: green;
    border-radius: 5px;
    box-shadow: 1px 1px #999;
    cursor: pointer;
    outline: none;
}

