body{
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows:repeat(12,1fr);
    display: grid;
    margin: 0px;
    padding: 0px;
}

header{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

main i.material-icons{
    font-size: 3em;
}

.menu i.material-icons{    
    font-size: 3em;
}

.menu{
    width: 80vw;
    height: 100vh;
    position: absolute;
    background: white;
    display: none;
}

.show{
    display: block;
}


h2{
    grid-row: 1 / 2;
    grid-column: 3 / 7;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
}

.container{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
/*.fade{
    background-color: rgb(100,100,100)
}*/


