<header class="home">Home</header>
<a href="store.html" class="store">
<button class="box1">
Store
</button>
</a>

<a href="about.html" class="block">
<button class="box2">
Random Block
</button>
</a>