body{
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr,2fr,1fr;
    grid-template-rows: 6fr;
    display: grid;
    background-image: 
    margin: 0px;
    padding: 0px;
}

header{
    grid-row: span;
    grid-column: 1 / 2;
    
}